@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* common styles */
:root {
    --primary-color: #FF42A5;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.description {
    color: #534C64;
    font-size: 18px;
    margin-top: 20px;
}

.btn-primary {
    border: none;
    border-radius: 48px;
    background: var(--primary-color);
    padding: 20px 40px;
    margin: 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.pic {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

/* common styles end*/

/* header style */

/* nav style */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;

}

.nav-left img {
    width: 5rem;
    height: 2.5rem;
}

.nav-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-right li {
    list-style: none;
}

.nav-right a {
    text-decoration: none;
    color: #3C354F;
}

.follow-us:hover {
    cursor: pointer;
}

.follow-us {
    color: #3C354F;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 20px;
    padding: 15px 20px;
}

/* nav style end*/

/* banner style */
.banner-main {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
}

.banner-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    /* margin: 20px 240px; */
}

.banner-right img {
    width: 100%;
}

.linear {
    font-size: 95px;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.title-1 {
    font-weight: 600;
}

/* banner style end*/

/* header style end*/
/* online game style */
.online-game-title {
    margin-top: 130px;
    margin-bottom: 50px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 130px;
}

.card,
.card-img {
    border-radius: 16px;
}

/* online game style end*/

/* Play instanly style */
.play-inst-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.content {
    width: 50%;
}

.content-img {
    width: 50%;
    position: relative;
}

.pic-2 {
    position: absolute;
    bottom: -100px;
    left: -150px;

}

/* Play instanly style end*/



.icon-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 130px;
}
.icon {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.icon:hover {
    border: 1px solid tomato;
    border-radius: 50px;
    background: #FFF;
    cursor: pointer;
    color: var(--primary-color);
}

/* footer styles */
footer{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #111; 
    color: white;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.footer-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
}
.footer-list li{
    list-style: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.footer-list a{
 text-decoration: none;
}

.footer-icons{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
}
.footer-icons button:hover{
    background: red;
}

.footer-text{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.footer-text a{
    text-decoration: none;
   }

.footer-text li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    
    font-size: 16px;
}